<% content_for :css do %>
  <%= stylesheet_link_tag 'tasks' %>
<% end %>

<h1>Task</h1>
<div class="task-container">
  <div class="task-box">
    <% @tasks.each do |task| %>
      <div class="task-item">
        <%= task.task_name %>
        <%= link_to "編集", edit_task_path(task) %>
        <%= link_to "削除", task_path(task), method: :delete, data:
          { confirm: '本当に削除して良いですか?',
            cancel: 'やめる',
            commit: '削除する'}, title: '削除確認' %>
      </div>
    <% end %>
  </div>
</div>
