<h1>履歴</h1>
<table class="table">
  <tbody>
    <% @task_histories.each do |task_history| %>
      <tr>
        <td><%= task_history.user.name %></td>
        <td><%= task_history.task.task_name %></td>
        <td><%= task_history.start_time %></td>
        <td><%= task_history.finish_time %></td>
      </tr>
    <% end %>
  </tbody>
</table>