<h1>timer</h1>

<%= form_tag("start", method: :post, id: @task_id) do %>
  <%= hidden_field_tag :task_id, @task_id %>
  <% if @task_history.present? %>
    <input type="submit" value="Time Start" disabled>
  <% else %>
    <input type="submit" value="Time Start">
  <% end %>
<% end %>

<%= form_tag("finish", method: :patch, action: :finish, id: @task_history_id) do %>
  <% if @task_history.nil? %>
    <input type="submit" value="Time End" disabled>
  <% else %>
    <%= hidden_field_tag :task_history_id, @task_history.id %>
    <input type="submit" value="Time End">
  <% end %>
<% end %>

