<h1>timer</h1>

<%= form_tag("start", method: :post, id: @task_id) do %>
  <%= hidden_field_tag :task_id, @task_id %>
  <input type="submit" value="Time Start">
<% end %>

<%= form_tag("finish", id: @task_history_id) do %>
  <%= hidden_field_tag :task_history_id, @task_history_id %>
  <input type="submit" value="Time End">
<% end %>

<!--条件分岐で打刻開始前はスタートボタンのみ表示
スタートボタンで打刻が開始されればストップボタンのみ表示に変更する-->