<h1>timer</h1>

<%= form_tag("start") do %>
  <input type="submit" value="スタート">
<% end %>

<%= form_tag("finish") do %>
  <input type="submit" value="ストップ">
<% end %>

<!--条件分岐で打刻開始前はスタートボタンのみ表示
スタートボタンで打刻が開始されればストップボタンのみ表示に変更する-->