
<%= stylesheet_link_tag 'charts' %>


<h1>Chart</h1>
<div class="chart-container">
  <div class="pie-chart">
    <h2 class="chart-h2">total time(min)</h2>
    <%= pie_chart @charts_data %>
  </div>
  <div class="bar-chart">
    <h2>average time(min)</h2>
    <%= bar_chart @charts_average %>
  </div>
</div>