
<%= stylesheet_link_tag 'homes' %>


<h1 class="home-h1">Home</h1>
<div class="home-container">
  <div class="home-icon">
    <%= link_to  new_task_path, class: 'btn btn-default' do %>
      <span class="fas fa-plus fa-2x"> add task</span>
    <% end %>
  </div>

  <div class="home-box">
  <% @tasks.each do |task| %>
      <%= link_to new_task_history_path(:task_id => task.id), class: "btn btn-link btn-block" do %>
      <%= task.task_name %>
      <% end %>
  <% end %>
  </div>
</div>
