
<%= stylesheet_link_tag 'homes' %>

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>


<h1>kaji-note</h1>

<div class="section">
  <div class="sliderArea">
    <div class="regular slider">
      <div><img src="https://125naroom.com/demo/img/itukanokotonokoto01.jpg" alt="125naroom"></div>
      <div><img src="https://125naroom.com/demo/img/itukanokotonokoto02.jpg" alt="125naroom"></div>
      <div><img src="https://125naroom.com/demo/img/itukanokotonokoto03.jpg" alt="125naroom"></div>
      <div><img src="https://125naroom.com/demo/img/itukanokotonokoto04.jpg" alt="125naroom"></div>
      <div><img src="https://125naroom.com/demo/img/itukanokotonokoto05.jpg" alt="125naroom"></div>
    </div>
  </div>
</section>

<div class="top-container">
  <div class="top-box">
    <h2>kaji-noteとは</h2>
      <h3>家事・育児に忙しい毎日を送る夫婦をサポートするアプリです。</h3>
        <h4>一緒に暮らしていて、意識・認識にズレがあると、<br>
            せっかくの結婚生活が喧嘩ばかりという事にもなりかねません。<br>
            kaji-noteは生活から切っても切り離せない『家事』をわかりやすく可視化し<br>
            二人が家事・育児という大変なことに対して共に向き合えることを意識しています。
        </h4>
    <div class="top-image"></div>
    <div class="top-text"></div>
  </div>
</div>

<div class="home-top-wrapper">
  <div class="home-top-box">
    <a href="/users/sign_up" class="btn-square">Create an account</a>
  </div>

  <div class="home-top-box">
    <a href="/users/sign_in" class="btn-square">log in</a>
  </div>
</div>



