
<%= stylesheet_link_tag 'homes' %>


<h1 class="home-h1">kaji-note</h1>

<div id="box">
  <div id="images">
    <div class="image1"></div>
    <div class="image2"></div>
    <div class="image3"></div>
    <div class="image4"></div>
    <div class="image5"></div>
  </div>
</div>

<div class="top-container">
  <div class="top-box">
    <h2>kaji-noteとは<br>
        家事・育児に忙しい毎日を送る、夫婦をサポートするアプリです。<br>
        一緒に暮らしていて、意識・認識にズレがあると、
        せっかくの結婚生活が喧嘩ばかりという事にもなりかねません。
        kaji-noteは生活から切っても切り離せない『家事』を二人にとって
        Happyな形に
    </h2>
    <div class="top-image"></div>
    <div class="top-text"></div>
  </div>
</div>
<div class="home-top-wrapper">
  <div class="home-top-box">
    <a href="/users/sign_up" class="btn-square">Create an account</a>
  </div>

  <div class="home-top-box">
    <a href="/users/sign_in" class="btn-square">log in</a>
  </div>
</div>



