// Place all the styles related to the charts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ドロワーメニューの色変更
.menu-drawer .btn {
  font-size: 27px;
  background: white;
  width: 40px;
  padding: 4px 0;
  cursor: pointer;
  text-align: center;
  top: 0;
  right: 0;
}

body{
  background: white;
}
.chart-h1{
  text-align: center;
  padding: 1em 0;
  color: #757171;
}
.chart-h2{
  text-align: center;
  margin-bottom: 20px;
}
.chart-container{
  margin: auto;
  overflow-y: scroll;
  height: 68vh;
}
.pie-chart{
  margin: 50px 70px 10px;
  border-style: solid;
  border-color: #C7F2E1;
}
.bar-chart{
  margin: 85px 70px 10px;
  border-style: solid;
  border-color: #C7F2E1;
}