// Place all the styles related to the charts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background: #C7F2E1;
}
.chart-h1{
  text-align: center;
  padding: 20px 0;
  margin-bottom: 10px;
  color: #479677;
}