// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background: white;
}
.home-h1{
  text-align: center;
  padding: 1em 0;
}

// homeのタスク一覧ページ
.home-container{
  background: white;
  display:flex;
  flex-flow: column;
}
.home-box{
  overflow-y: scroll;
  height: 63vh;
  background: #f5fffc;
}
.home-item{
  background: #C7F2E1;
  justify-content:space-around;
  border-radius: 10px;
  text-align: center;
  padding:1em;
  margin: 10px;
}
.homelink{
    text-decoration: none;
    color: #5e5e5e;
}
.home-icon{
    margin: 0 auto 20px;
}
.fa-plus{
  color: #F3AF7F;
}

// homeのトップページ
.home-top-wrapper{
  margin: 5em auto;
  width: 100%;
  background: white;
}
.home-top-box{
  margin: 2em 0 0;
  width: 100%;
}
.btn-square {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.btn-square:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}
