// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background: #C7F2E1;
}
h1{
  text-align: center;
  padding: 20px 0;
  margin-bottom: 10px;
  color: #757171;
}

// home/indexページ
.home-container{
  background: #C7F2E1;
  display:flex;
  flex-flow: column;
}
.home-box{
  overflow-y: scroll;
  height: 68vh;
  background: #C7F2E1;
}
.btn-link{
  background: white;
  justify-content:space-around;
  border-radius: 10px;
  text-align: center;
  padding:1em;
  margin: 10px;
  text-decoration: none;
  color: #5e5e5e;
  border: none;
}
.btn-link:hover, .btn-link:focus,
.btn-link:active, .btn-link:active:focus, .btn-link:active:hover, .btn-link:active.focus,
.btn-link.active, .btn-link.active:focus, .btn-link.active:hover, .btn-link.active.focus,
.open > .dropdown-toggle.btn-link,
.open > .dropdown-toggle.btn-link:hover,
.open > .dropdown-toggle.btn-link:focus,
.open > .dropdown-toggle.btn-link.focus,
.btn-link.disabled:hover, .btn-link[disabled]:hover, fieldset[disabled] .btn-link:hover,
.btn-link.disabled:focus, .btn-link[disabled]:focus, fieldset[disabled] .btn-link:focus,
.btn-link.disabled.focus, .btn-link[disabled].focus, fieldset[disabled] .btn-link.focus {
    background: #F3AF7F;
    color: #5e5e5e;
    opacity: 0.7;
}
.home-icon{
    margin: 0 auto 20px;
}
.fa-plus{
  color: #F3AF7F;
  border: solid 2px;
  border-style: solid;
  padding: 5px;
  border-radius: 25px;
}

// home/topページ
.home-top-wrapper{
  margin: 5em auto;
  width: 100%;
}
.home-top-box{
  margin: 2em 0 0;
  width: 100%;
}
.btn-square {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.btn-square:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}



h2{
  text-align: center;
  margin: 20px auto;
}
h3{
  text-align: center;
  margin: 0 auto 20px;
}
h4{
  text-align: center;
}