// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.task-h1{
  text-align: center;
  padding: 20px 0;
  margin-bottom: 10px;
  color: #479677;
}

body{
  background: #C7F2E1;
}
// indexページ
.task-container{
  background: #C7F2E1;
  display:flex;
  flex-flow: column;
}
.task-box{
  overflow-y: scroll;
  height: 75vh;
}
.task-item{
  background:white;
  justify-content:space-around;
  border-radius: 10px;
  text-align: center;
  padding:1em;
  margin: 10px;
}

// newページ
.task-new-form-wrapper{
  background-color: white;
  margin: 5em auto;
  width: 400px;
}
.task-new-box{
  padding: 50px 15px;
}
.textfield{
  height: 150px;
  width: 100%;
  outline: none;
  // font-size: 100%;
}
.actions{
  margin: 5em 0 0;
  width: 100%;
}
.actions input[type="submit"] {
  background: #F3AF7F;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
  width: 100%;
  border-radius: 10px;
}

// task編集ページ
.task-edit-form-wrapper{
  background-color: white;
  margin: 5em auto;
  width: 400px;
}
.task-edit-box{
  padding: 50px 15px;
}
