// Place all the styles related to the TaskHistories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background: white;
}
.task-history-h1{
  text-align: center;
  padding: 1em 0;
}