// Place all the styles related to the TaskHistories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background: #C7F2E1;
}
.task-history-h1{
  text-align: center;
  padding: 20px 0;
  margin-bottom: 10px;
  color: #757171;
}
.task-history-container{
  background: #C7F2E1;
  display:flex;
  flex-flow: column;
}
.task-history-box{
  overflow-y: scroll;
  height: 68vh;
}
.today-result{
  background: white;
  border-radius: 10px;
  text-align: center;
  padding:1em;
  margin: 10px;
  text-decoration: none;
  color: #5e5e5e;
  border: none;
  font-weight: bold;
  font-size: 1.5em;
}
.task-history-item{
  background: white;
  justify-content:space-around;
  border-radius: 10px;
  text-align: center;
  margin: 10px;
  text-decoration: none;
  color: #5e5e5e;
  border: none;
}
.task-history-date{
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 20px;
}
.task-history-block{
  list-style: none;
  display: flex;
  margin: 0;
  padding-top: 10px;
}
.task-history-name{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 auto 0 20px;
  padding: 15px 0 0 20px;
  font-size: 1.3em;
  width: 130px;
  text-align: left;
}
.task-history-list li{
  display: inline-block;
  margin: 0 10px;
  list-style: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 20px;
}
// .btn-outline-info{
//   margin-top: 10px;
// }
