// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.task-h1{
  text-align: center;
  padding: 20px 0;
  margin-bottom: 10px;
  color: #757171;
}

body{
  background: #C7F2E1;
}
// indexページ
.task-container{
  background: #C7F2E1;
  display:flex;
  flex-flow: column;
}
.task-box{
  overflow-y: scroll;
  height: 75vh;
}
.task-item{
  background:white;
  justify-content:space-around;
  border-radius: 10px;
  text-align: center;
  padding:1em;
  margin: 10px;
}


